apiVersion: v1
kind: Service
metadata:
  name: appointment-service
  namespace: lomash-wood
  labels:
    app: appointment-service
    app.kubernetes.io/name: appointment-service
    app.kubernetes.io/part-of: lomash-wood-platform
    app.kubernetes.io/component: service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3004"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  selector:
    app: appointment-service
  ports:
    - name: http
      protocol: TCP
      port: 3004
      targetPort: 3004
    - name: metrics
      protocol: TCP
      port: 9094
      targetPort: 3004