apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: lomash-wood
  labels:
    app: auth-service
    app.kubernetes.io/name: auth-service
    app.kubernetes.io/part-of: lomash-wood-platform
    app.kubernetes.io/component: service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3001"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  selector:
    app: auth-service
  ports:
    - name: http
      protocol: TCP
      port: 3001
      targetPort: 3001
    - name: metrics
      protocol: TCP
      port: 9091
      targetPort: 3001