apiVersion: v1
kind: Service
metadata:
  name: content-service
  namespace: lomash-wood
  labels:
    app: content-service
    app.kubernetes.io/name: content-service
    app.kubernetes.io/part-of: lomash-wood-platform
    app.kubernetes.io/component: service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3005"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  selector:
    app: content-service
  ports:
    - name: http
      protocol: TCP
      port: 3005
      targetPort: 3005
    - name: metrics
      protocol: TCP
      port: 9095
      targetPort: 3005