apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: lomash-wood
  labels:
    app: notification-service
    app.kubernetes.io/name: notification-service
    app.kubernetes.io/part-of: lomash-wood-platform
    app.kubernetes.io/component: service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3007"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  selector:
    app: notification-service
  ports:
    - name: http
      protocol: TCP
      port: 3007
      targetPort: 3007
    - name: metrics
      protocol: TCP
      port: 9097
      targetPort: 3007