apiVersion: v1
kind: Service
metadata:
  name: order-payment-service
  namespace: lomash-wood
  labels:
    app: order-payment-service
    app.kubernetes.io/name: order-payment-service
    app.kubernetes.io/part-of: lomash-wood-platform
    app.kubernetes.io/component: service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3003"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  selector:
    app: order-payment-service
  ports:
    - name: http
      protocol: TCP
      port: 3003
      targetPort: 3003
    - name: metrics
      protocol: TCP
      port: 9093
      targetPort: 3003