apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: lomash-wood
  labels:
    app: product-service
    app.kubernetes.io/name: product-service
    app.kubernetes.io/part-of: lomash-wood-platform
    app.kubernetes.io/component: service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3002"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  selector:
    app: product-service
  ports:
    - name: http
      protocol: TCP
      port: 3002
      targetPort: 3002
    - name: metrics
      protocol: TCP
      port: 9092
      targetPort: 3002