root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

[*.{ts,tsx,js,jsx,mjs,cjs}]
indent_size = 2
quote_type = single

[*.{json,jsonc}]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.{md,mdx}]
trim_trailing_whitespace = false
max_line_length = off

[*.{sh,bash}]
indent_size = 2
shell_variant = bash

[*.{sql}]
indent_size = 2
keyword_case = upper

[Makefile]
indent_style = tab
indent_size = 4

[*.{tf,tfvars}]
indent_size = 2

[*.prisma]
indent_size = 2

[Dockerfile]
indent_size = 4

[pnpm-lock.yaml]
insert_final_newline = false