apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: lomash-wood-dev
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: api-gateway
          image: lomashwood/api-gateway:dev
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
          env:
            - name: NODE_ENV
              value: development
            - name: LOG_LEVEL
              value: debug