apiVersion: apps/v1
kind: Deployment
metadata:
  name: appointment-service
  namespace: lomash-wood-dev
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: appointment-service
          image: lomashwood/appointment-service:dev
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
          env:
            - name: NODE_ENV
              value: development
            - name: LOG_LEVEL
              value: debug
            - name: SEND_REMINDER_JOB_INTERVAL_MINUTES
              value: "60"
            - name: CLEANUP_EXPIRED_SLOTS_INTERVAL_HOURS
              value: "24"