apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: lomash-wood-dev
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: auth-service
          image: lomashwood/auth-service:dev
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
          env:
            - name: NODE_ENV
              value: development
            - name: LOG_LEVEL
              value: debug
            - name: SESSION_COOKIE_SECURE
              value: "false"
            - name: BCRYPT_SALT_ROUNDS
              value: "10"