apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-payment-service
  namespace: lomash-wood-dev
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: order-payment-service
          image: lomashwood/order-payment-service:dev
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
          env:
            - name: NODE_ENV
              value: development
            - name: LOG_LEVEL
              value: debug
            - name: STRIPE_API_VERSION
              value: "2024-11-20.acacia"