replicaCount: 1

image:
  pullPolicy: Always
  tag: "dev"

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

autoscaling:
  enabled: false

env:
  NODE_ENV: development
  LOG_LEVEL: debug
  CORS_ORIGINS: "http://localhost:3000,http://localhost:3001"
  RATE_LIMIT_MAX: "1000"

livenessProbe:
  initialDelaySeconds: 30
  periodSeconds: 30

readinessProbe:
  initialDelaySeconds: 15
  periodSeconds: 15

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: analytics-dev.lomashwood.internal
      paths:
        - path: /
          pathType: Prefix

topologySpreadConstraints: []