{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": false,

  "overrides": [
    {
      "files": ["*.json", ".prettierrc", ".eslintrc.json"],
      "options": {
        "printWidth": 80,
        "trailingComma": "none"
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "printWidth": 80,
        "proseWrap": "always",
        "trailingComma": "none"
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "printWidth": 120,
        "singleQuote": false,
        "trailingComma": "none"
      }
    },
    {
      "files": ["*.env.example", ".env*"],
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": ["prisma/schema.prisma"],
      "options": {
        "printWidth": 120,
        "tabWidth": 2
      }
    },
    {
      "files": ["tests/**/*.ts", "src/**/*.test.ts", "src/**/*.e2e.ts"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}