apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: lomash-wood-staging
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: api-gateway
          image: lomashwood/api-gateway:staging
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "75m"
              memory: "192Mi"
            limits:
              cpu: "400m"
              memory: "384Mi"
          env:
            - name: NODE_ENV
              value: staging
            - name: LOG_LEVEL
              value: info
            - name: LOG_FORMAT
              value: json