openapi: 3.1.0
info:
  title: Lomash Wood API
  version: 1.0.0
  description: >
    REST API for the Lomash Wood Kitchen & Bedroom Design and Consultation Platform.
    All endpoints are versioned under /v1. Authentication uses Bearer JWT tokens
    issued by the auth-service.
  contact:
    name: Lomash Wood Engineering
    email: engineering@lomashwood.co.uk
  license:
    name: Proprietary

servers:
  - url: https://api.lomashwood.co.uk/v1
    description: Production
  - url: https://api-staging.lomashwood.co.uk/v1
    description: Staging
  - url: http://localhost:4000/v1
    description: Local development

security:
  - BearerAuth: []

tags:
  - name: Auth
    description: Authentication and session management
  - name: Products
    description: Product catalogue, categories, colours, sizes
  - name: Appointments
    description: Booking flow, availability, showrooms
  - name: Orders
    description: Order management and checkout
  - name: Payments
    description: Payment intents and transactions
  - name: Content
    description: Blog, CMS pages, media wall, SEO
  - name: Customers
    description: Customer profiles, wishlist, reviews, support
  - name: Notifications
    description: Notification preferences and history
  - name: Analytics
    description: Event tracking and dashboard data
  - name: Webhooks
    description: Inbound webhooks from third-party providers
  - name: Forms
    description: Brochure requests, business enquiries, newsletter, contact

paths:

  # ─────────────────────────────────────────────
  # AUTH
  # ─────────────────────────────────────────────

  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new customer account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/login:
    post:
      tags: [Auth]
      summary: Login with email and password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout and invalidate session
      responses:
        '204':
          description: Logged out successfully
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/me:
    get:
      tags: [Auth]
      summary: Get current authenticated user
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ─────────────────────────────────────────────
  # PRODUCTS
  # ─────────────────────────────────────────────

  /products:
    get:
      tags: [Products]
      summary: List products with filtering and pagination
      security: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/SortBy'
        - $ref: '#/components/parameters/Order'
        - name: category
          in: query
          schema:
            type: string
            enum: [KITCHEN, BEDROOM]
        - name: colourIds
          in: query
          schema:
            type: array
            items:
              type: string
              format: uuid
          style: form
          explode: false
        - name: style
          in: query
          schema:
            type: string
        - name: finish
          in: query
          schema:
            type: string
        - name: rangeId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Paginated product list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

    post:
      tags: [Products]
      summary: Create a new product (admin only)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '201':
          description: Product created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /products/{id}:
    get:
      tags: [Products]
      summary: Get a single product by ID
      security: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Product detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Products]
      summary: Update a product (admin only)
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
      responses:
        '200':
          description: Product updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Products]
      summary: Soft-delete a product (admin only)
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: Product deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /categories:
    get:
      tags: [Products]
      summary: List all product categories
      security: []
      responses:
        '200':
          description: Category list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'

  /colours:
    get:
      tags: [Products]
      summary: List all colours
      security: []
      responses:
        '200':
          description: Colour list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Colour'

  # ─────────────────────────────────────────────
  # APPOINTMENTS
  # ─────────────────────────────────────────────

  /appointments/availability:
    get:
      tags: [Appointments]
      summary: Get available appointment slots
      security: []
      parameters:
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum: [HOME_MEASUREMENT, ONLINE, SHOWROOM]
        - name: showroomId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Available time slots
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityResponse'

  /appointments:
    post:
      tags: [Appointments]
      summary: Book an appointment
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppointmentRequest'
      responses:
        '201':
          description: Appointment booked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'

  /appointments/{id}:
    get:
      tags: [Appointments]
      summary: Get appointment by ID
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Appointment detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '404':
          $ref: '#/components/responses/NotFound'

  /showrooms:
    get:
      tags: [Appointments]
      summary: List all showrooms
      security: []
      parameters:
        - name: search
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Showroom list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShowroomListResponse'

  /showrooms/{id}:
    get:
      tags: [Appointments]
      summary: Get showroom by ID
      security: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Showroom detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Showroom'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────
  # ORDERS
  # ─────────────────────────────────────────────

  /orders:
    get:
      tags: [Orders]
      summary: List orders for authenticated customer
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Order list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Orders]
      summary: Create a new order (checkout initiation)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created with payment intent client secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /orders/{id}:
    get:
      tags: [Orders]
      summary: Get order by ID
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Order detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ─────────────────────────────────────────────
  # PAYMENTS
  # ─────────────────────────────────────────────

  /payments/create-intent:
    post:
      tags: [Payments]
      summary: Create a Stripe PaymentIntent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentIntentRequest'
      responses:
        '201':
          description: PaymentIntent created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ─────────────────────────────────────────────
  # CONTENT
  # ─────────────────────────────────────────────

  /blog:
    get:
      tags: [Content]
      summary: List published blog posts
      security: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Blog post list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogListResponse'

  /blog/{slug}:
    get:
      tags: [Content]
      summary: Get a blog post by slug
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Blog post detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlogPost'
        '404':
          $ref: '#/components/responses/NotFound'

  /uploads:
    post:
      tags: [Content]
      summary: Upload a media asset (admin only)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                entityType:
                  type: string
                  enum: [PRODUCT, BLOG, PAGE, MEDIA_WALL, SHOWROOM]
                entityId:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Upload successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAsset'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'

  # ─────────────────────────────────────────────
  # FORMS
  # ─────────────────────────────────────────────

  /brochures:
    post:
      tags: [Forms]
      summary: Submit a brochure request
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrochureRequest'
      responses:
        '201':
          description: Brochure request submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '422':
          $ref: '#/components/responses/ValidationError'

  /business:
    post:
      tags: [Forms]
      summary: Submit a business enquiry
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessEnquiryRequest'
      responses:
        '201':
          description: Business enquiry submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '422':
          $ref: '#/components/responses/ValidationError'

  /contact:
    post:
      tags: [Forms]
      summary: Submit a contact form
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactRequest'
      responses:
        '201':
          description: Contact form submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '422':
          $ref: '#/components/responses/ValidationError'

  /newsletter:
    post:
      tags: [Forms]
      summary: Subscribe to newsletter
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewsletterRequest'
      responses:
        '201':
          description: Subscribed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessMessage'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ─────────────────────────────────────────────
  # CUSTOMERS
  # ─────────────────────────────────────────────

  /customers/me/profile:
    get:
      tags: [Customers]
      summary: Get customer profile
      responses:
        '200':
          description: Customer profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'

    patch:
      tags: [Customers]
      summary: Update customer profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /customers/me/wishlist:
    get:
      tags: [Customers]
      summary: Get customer wishlist
      responses:
        '200':
          description: Wishlist items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WishlistResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ─────────────────────────────────────────────
  # ANALYTICS
  # ─────────────────────────────────────────────

  /analytics/track:
    post:
      tags: [Analytics]
      summary: Track a frontend event
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackEventRequest'
      responses:
        '202':
          description: Event accepted for processing
        '422':
          $ref: '#/components/responses/ValidationError'

  /analytics/dashboard:
    get:
      tags: [Analytics]
      summary: Get admin dashboard snapshot (admin only)
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Dashboard snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardSnapshot'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ─────────────────────────────────────────────
  # WEBHOOKS
  # ─────────────────────────────────────────────

  /webhooks/stripe:
    post:
      tags: [Webhooks]
      summary: Stripe webhook receiver
      security: []
      parameters:
        - name: stripe-signature
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Raw Stripe event payload
      responses:
        '200':
          description: Webhook received
        '400':
          description: Invalid signature
        '422':
          description: Unhandled event type

# ─────────────────────────────────────────────
# COMPONENTS
# ─────────────────────────────────────────────

components:

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    SortBy:
      name: sortBy
      in: query
      schema:
        type: string
    Order:
      name: order
      in: query
      schema:
        type: string
        enum: [asc, desc]
        default: asc

  responses:
    Unauthorized:
      description: Missing or invalid authentication token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Resource already exists or conflict with current state
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: Request body validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'
    PayloadTooLarge:
      description: File or request body exceeds size limit
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:

    # ── Auth ──────────────────────────────────

    RegisterRequest:
      type: object
      required: [name, email, password]
      properties:
        name:
          type: string
          minLength: 2
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
        expiresIn:
          type: integer
        user:
          $ref: '#/components/schemas/UserProfile'

    UserProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum: [CUSTOMER, ADMIN, EDITOR]
        createdAt:
          type: string
          format: date-time

    # ── Products ──────────────────────────────

    Product:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        category:
          type: string
          enum: [KITCHEN, BEDROOM]
        price:
          type: number
          format: float
        rangeName:
          type: string
        images:
          type: array
          items:
            $ref: '#/components/schemas/MediaAsset'
        colours:
          type: array
          items:
            $ref: '#/components/schemas/Colour'
        sizes:
          type: array
          items:
            $ref: '#/components/schemas/Size'
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ProductListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        pagination:
          $ref: '#/components/schemas/Pagination'

    CreateProductRequest:
      type: object
      required: [title, description, category, price]
      properties:
        title:
          type: string
        description:
          type: string
        category:
          type: string
          enum: [KITCHEN, BEDROOM]
        price:
          type: number
          format: float
        rangeName:
          type: string
        colourIds:
          type: array
          items:
            type: string
            format: uuid
        imageIds:
          type: array
          items:
            type: string
            format: uuid

    UpdateProductRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        price:
          type: number
          format: float
        rangeName:
          type: string
        isActive:
          type: boolean
        colourIds:
          type: array
          items:
            type: string
            format: uuid

    Category:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string

    Colour:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        hexCode:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'

    Size:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        imageUrl:
          type: string
          format: uri

    # ── Appointments ──────────────────────────

    CreateAppointmentRequest:
      type: object
      required: [appointmentType, forKitchen, forBedroom, customerDetails, slotId]
      properties:
        appointmentType:
          type: string
          enum: [HOME_MEASUREMENT, ONLINE, SHOWROOM]
        forKitchen:
          type: boolean
        forBedroom:
          type: boolean
        showroomId:
          type: string
          format: uuid
        slotId:
          type: string
          format: uuid
        customerDetails:
          $ref: '#/components/schemas/CustomerDetails'

    CustomerDetails:
      type: object
      required: [name, phone, email, postcode, address]
      properties:
        name:
          type: string
        phone:
          type: string
        email:
          type: string
          format: email
        postcode:
          type: string
        address:
          type: string

    Appointment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        appointmentType:
          type: string
          enum: [HOME_MEASUREMENT, ONLINE, SHOWROOM]
        forKitchen:
          type: boolean
        forBedroom:
          type: boolean
        status:
          type: string
          enum: [CONFIRMED, CANCELLED, COMPLETED]
        customerDetails:
          $ref: '#/components/schemas/CustomerDetails'
        scheduledAt:
          type: string
          format: date-time
        showroom:
          $ref: '#/components/schemas/Showroom'
        createdAt:
          type: string
          format: date-time

    AvailabilityResponse:
      type: object
      properties:
        date:
          type: string
          format: date
        slots:
          type: array
          items:
            $ref: '#/components/schemas/TimeSlot'

    TimeSlot:
      type: object
      properties:
        id:
          type: string
          format: uuid
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        isAvailable:
          type: boolean

    Showroom:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        address:
          type: string
        imageUrl:
          type: string
          format: uri
        email:
          type: string
          format: email
        phone:
          type: string
        openingHours:
          type: string
        mapLink:
          type: string
          format: uri

    ShowroomListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Showroom'

    # ── Orders ────────────────────────────────

    CreateOrderRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          items:
            type: object
            required: [productId, quantity]
            properties:
              productId:
                type: string
                format: uuid
              quantity:
                type: integer
                minimum: 1

    CreateOrderResponse:
      type: object
      properties:
        orderId:
          type: string
          format: uuid
        clientSecret:
          type: string
        totalAmount:
          type: number
          format: float
        currency:
          type: string
          example: GBP

    Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [PENDING, CONFIRMED, PROCESSING, COMPLETED, CANCELLED, FAILED]
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        totalAmount:
          type: number
          format: float
        currency:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    OrderItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        productId:
          type: string
          format: uuid
        productTitle:
          type: string
        quantity:
          type: integer
        unitPrice:
          type: number
          format: float
        totalPrice:
          type: number
          format: float

    OrderListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # ── Payments ──────────────────────────────

    CreatePaymentIntentRequest:
      type: object
      required: [orderId]
      properties:
        orderId:
          type: string
          format: uuid

    PaymentIntentResponse:
      type: object
      properties:
        clientSecret:
          type: string
        paymentIntentId:
          type: string
        amount:
          type: integer
          description: Amount in pence
        currency:
          type: string

    # ── Content ───────────────────────────────

    BlogPost:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        slug:
          type: string
        content:
          type: string
        excerpt:
          type: string
        coverImageUrl:
          type: string
          format: uri
        publishedAt:
          type: string
          format: date-time
        author:
          type: string
        tags:
          type: array
          items:
            type: string

    BlogListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/BlogPost'
        pagination:
          $ref: '#/components/schemas/Pagination'

    MediaAsset:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          format: uri
        cdnUrl:
          type: string
          format: uri
        mimeType:
          type: string
        size:
          type: integer
          description: File size in bytes

    # ── Forms ─────────────────────────────────

    BrochureRequest:
      type: object
      required: [name, phone, email, postcode, address]
      properties:
        name:
          type: string
        phone:
          type: string
        email:
          type: string
          format: email
        postcode:
          type: string
        address:
          type: string

    BusinessEnquiryRequest:
      type: object
      required: [name, email, phone, businessType]
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        businessType:
          type: string

    ContactRequest:
      type: object
      required: [name, email, message]
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        message:
          type: string

    NewsletterRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
        name:
          type: string

    # ── Customers ─────────────────────────────

    CustomerProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          type: string
        postcode:
          type: string
        loyaltyPoints:
          type: integer
        createdAt:
          type: string
          format: date-time

    UpdateProfileRequest:
      type: object
      properties:
        name:
          type: string
        phone:
          type: string
        address:
          type: string
        postcode:
          type: string

    WishlistResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Product'

    # ── Analytics ─────────────────────────────

    TrackEventRequest:
      type: object
      required: [eventType, sessionId]
      properties:
        eventType:
          type: string
          enum:
            - PAGEVIEW
            - CLICK
            - FILTER_APPLY
            - PRODUCT_VIEW
            - ADD_TO_WISHLIST
            - BOOKING_START
            - BOOKING_COMPLETE
            - BROCHURE_REQUEST
            - CONTACT_SUBMIT
        sessionId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        properties:
          type: object
          additionalProperties: true

    DashboardSnapshot:
      type: object
      properties:
        totalBookings:
          type: integer
        totalRevenue:
          type: number
          format: float
        totalOrders:
          type: integer
        conversionRate:
          type: number
          format: float
        topProducts:
          type: array
          items:
            type: object
            properties:
              productId:
                type: string
                format: uuid
              title:
                type: string
              views:
                type: integer
        computedAt:
          type: string
          format: date-time

    # ── Shared ────────────────────────────────

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
        hasNextPage:
          type: boolean
        hasPrevPage:
          type: boolean

    SuccessMessage:
      type: object
      properties:
        message:
          type: string

    ErrorResponse:
      type: object
      properties:
        statusCode:
          type: integer
        error:
          type: string
        message:
          type: string
        requestId:
          type: string

    ValidationErrorResponse:
      type: object
      properties:
        statusCode:
          type: integer
          example: 422
        error:
          type: string
          example: Unprocessable Entity
        message:
          type: string
          example: Validation failed
        issues:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
        requestId:
          type: string